{% extends 'realestate/includes/base.html' %}
{% load static %}
{% block content %}

<!-- Header Start -->
{% for single_property in single_properties %}
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">{{ single_property.category.name }}</h1> 
                <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid" src="{% static 'img/header.jpg' %}" alt="">
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container-xxl py-5">
    <div class="container">
       
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{{ single_property.image.url }}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4"> {{ single_property.name }}</h1>
                <p class="mb-4">{{ single_property.description }}</p>
                <p><i class="fa fa-check text-primary me-3"></i>Price: ${{ single_property.sale_price }}</p>
                <p><i class="fa fa-check text-primary me-3"></i>Beds: {{ single_property.number_of_beds }} </p>
                <p><i class="fa fa-check text-primary me-3"></i>Baths: {{ single_property.number_of_baths }} </p>
                <p><i class="fa fa-check text-primary me-3"></i>Address: {{ single_property.address }} </p>
                <p><i class="fa fa-check text-primary me-3"></i>Agent Name: {{ single_property.agent.name }} </p>
                <p><i class="fa fa-check text-primary me-3"></i>Agent Number: {{ single_property.agent.phone }} </p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'book' single_property.slug  %}">Book Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}